body{
	padding-top:150px;
	background: url("/assets/image/background/black-Linen.png");
}

/*#TileContainer{
background-color: #FFF;
height:2000px;
margin-bottom: 50px;
}*/

#signinFormContainer{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius:0px;
	/*height:325px;*/
	margin-left: 0px;
	height:100%;
}
#signinForm{
	
}
#signinFormAside{
	background-color:#000;
	/*height:325px;*/
	border-radius:0px;
	color: #7D7D7D;
	font-size:26px;
	line-height: 30px;
	height:100%;
}
#signinRow{
	height:300px;
}

#signinFormAside b{
	color:#FFF;
}

#signinFormAside h4{
	margin-top:18px;
}

#signinFormAside button{
	margin-top:18px;
}

#signinFormAside .message{
	width:285px;
	margin:0 auto;
}

#signinFormBackground{
	/*background: url(/assets/image/background/signinBackground.png);*/
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	height:100%;
	padding-top:150px;
	margin-top:-150px;
}

label{
	color:#fff;
	text-transform:uppercase;
	font-size: 11px;
	font-weight:bold;
}

form input[type=password], form input[type=text]{
	height:25px;
}


footer{
	
}

.footerContainer{
height:20px;
background-color:#000;
width:100%;
display: none;
}

.navbar-inner{
	background: #fff url("/assets/image/nav_bar.png");
}

legend{
font-size: 26px;
font-weight: bold;
color:#fff;
	border-bottom:none;
	margin-bottom: 0px;
}

form{

}

.masonry{
	background:#fff;
	height:400px;
}

.masonry-brick{
	border-style: solid;
	border-width: 1px;
	border-color:red;
}

.navbar .brand{
	background: url("/assets/image/logo/KarrrmaWordmark.png") no-repeat; 
	position: relative;
	width: 120px;
	height:10px;
	text-indent: -9999px; 
	top: 7px;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  background-color: #B4D02B;
  }

  .vendorCard{
  	width:286px;
  	height:248px;
  	background: #fff url("/assets/image/background/fabric_plaid.png");
  }

  .vendorNameContainer{
  	height:100%;
  }
  .karmaIndicatorContainer{
  	width:100%;
  	height: 60px;
  	background-color:#333333;
  }