body{
	padding-top:150px;
	padding-bottom: 40px;
	background: url("/assets/image/background/subtle_freckles.png");
}

/*#TileContainer{
background-color: #FFF;
height:2000px;
margin-bottom: 50px;
}*/


#signinForm{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius:0px;
	height:325px;
	margin-left: 0px;
}
#signinFormAside{
	background-color:#000;
	height:365px;

}

#signinFormBackground{
	/*background: url(/assets/image/background/signinBackground.png);*/
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	height:100%;
	padding-top:150px;
	margin-top:-150px;
}

legend{
	color:#fff;
	border-bottom:none;
}

label{
	color:#fff;
	text-transform:uppercase;
	font-size: 11px;
	font-weight:bold;
	margin-bottom:-1px;
}

form input[type=password], form input[type=text]{
	height:25px;
}


footer{
	bottom:0px;
}

.navbar-inner{
	background: #fff url("/assets/image/nav_bar.png");
}

legend{
font-size: 30px;
font-weight: bold;
}

form{

}